body {
	margin: auto;
	width: 50%;
	background-color: #9FA0C3;
	text-align: center;
}

div {
	background-color: #4F517D;
	margin: 10px;
	/* width: 25%; */
	border: solid 2px #ffffff;
	padding: 10px;
	display: block;
}

.instructions {
	text-align: left;
}

h1, h3, span{
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
}
h1{
	font-size: 35pt;
}
h2 {
	list-style: square;
	font-family: 'Orbitron', sans-serif;
}


.numberToMatch, .scores, .userTotal{
	display: inline-block;
	position: relative;
	width: 25%;
	height: 60px;
	text-align: left;
}

.gems{
	clear: both;
	text-align: center;
}
.gemImage{
	height: 100px;
	border-radius: 50%;
}
